<template name="forum-threads">
	<header class="page-header">
		<h1>Forum</h1>
		<h2>News & General Discussion</h2>
	</header>
	<div class="container">
		<section class="forum-thread-list">
			<ul>
				<li>
					<a href="{{pathFor 'forum-thread-view' _id=id}}"></a>
					<figure class="author-avatar" style="background-image: url('../avatars/avatar-3.jpg')"></figure>
					<div class="thread-detail">
						<div class="thread-title">Clean build for Meteor Phonegap Cordova</div>
						<div class="thread-author">By: John Doe - 0 Replies</div>
					</div>
					<time class="thread-posted-on" datetime="">1:32pm</time>
				</li>
				<li>
					<a href="{{pathFor 'forum-thread-view' _id=id}}"></a>
					<figure class="author-avatar" style="background-image: url('../avatars/avatar-6.jpg')"></figure>
					<div class="thread-detail">
						<div class="thread-title">Meteor v0.9.3.1 Failed to receive keepalive! Exiting. => Exited with code: 1</div>
						<div class="thread-author">By: John Doe - 3 Replies</div>
					</div>
					<time class="thread-posted-on" datetime="">11:02am</time>
				</li>
				<li>
					<a href="{{pathFor 'forum-thread-view' _id=id}}"></a>
					<figure class="author-avatar" style="background-image: url('../avatars/avatar-2.jpg')"></figure>
					<div class="thread-detail">
						<div class="thread-title">Changes to travis-ci build semantics</div>
						<div class="thread-author">By: John Doe - 4 Replies</div>
					</div>
					<time class="thread-posted-on" datetime="">9:23am</time>
				</li>
				<li>
					<a href="{{pathFor 'forum-thread-view' _id=id}}"></a>
					<figure class="author-avatar" style="background-image: url('../avatars/avatar-8.jpg')"></figure>
					<div class="thread-detail">
						<div class="thread-title">Blaze and reactive sortable lists</div>
						<div class="thread-author">By: John Doe - 48 Replies</div>
					</div>
					<time class="thread-posted-on" datetime="">9:03am</time>
				</li>
				<li>
					<a href="{{pathFor 'forum-thread-view' _id=id}}"></a>
					<figure class="author-avatar" style="background-image: url('../avatars/avatar-4.jpg')"></figure>
					<div class="thread-detail">
						<div class="thread-title">New MySQL related package and question</div>
						<div class="thread-author">By: John Doe - 1 Replies</div>
					</div>
					<time class="thread-posted-on" datetime="">24/09/14</time>
				</li>
				<li>
					<a href="{{pathFor 'forum-thread-view' _id=id}}"></a>
					<figure class="author-avatar" style="background-image: url('../avatars/avatar-7.jpg')"></figure>
					<div class="thread-detail">
						<div class="thread-title">Persistent data storage for mobile apps (v9.3+)</div>
						<div class="thread-author">By: John Doe - 7 Replies</div>
					</div>
					<time class="thread-posted-on" datetime="">24/09/14</time>
				</li>
				<li>
					<a href="{{pathFor 'forum-thread-view' _id=id}}"></a>
					<figure class="author-avatar" style="background-image: url('../avatars/avatar-11.jpg')"></figure>
					<div class="thread-detail">
						<div class="thread-title">Packaging Meteor Mobile and Desktop Experiences</div>
						<div class="thread-author">By: John Doe - 2 Replies</div>
					</div>
					<time class="thread-posted-on" datetime="">24/09/14</time>
				</li>
				<li>
					<a href="{{pathFor 'forum-thread-view' _id=id}}"></a>
					<figure class="author-avatar" style="background-image: url('../avatars/avatar-9.jpg')"></figure>
					<div class="thread-detail">
						<div class="thread-title">Advice on different blog structure methods</div>
						<div class="thread-author">By: John Doe - 1 Replies</div>
					</div>
					<time class="thread-posted-on" datetime="">25/09/14</time>
				</li>
				<li>
					<a href="{{pathFor 'forum-thread-view' _id=id}}"></a>
					<figure class="author-avatar" style="background-image: url('../avatars/avatar-5.jpg')"></figure>
					<div class="thread-detail">
						<div class="thread-title">Add CDN domain prefix to enable AppCache to work with AWS CloudFront</div>
						<div class="thread-author">By: John Doe - 5 Replies</div>
					</div>
					<time class="thread-posted-on" datetime="">25/09/14</time>
				</li>
				<li>
					<a href="{{pathFor 'forum-thread-view' _id=id}}"></a>
					<figure class="author-avatar" style="background-image: url('../avatars/avatar-4.jpg')"></figure>
					<div class="thread-detail">
						<div class="thread-title">Reactive dynamic svg elements</div>
						<div class="thread-author">By: John Doe - 48 Replies</div>
					</div>
					<time class="thread-posted-on" datetime="">26/09/14</time>
				</li>
				<li>
					<a href="{{pathFor 'forum-thread-view' _id=id}}"></a>
					<figure class="author-avatar" style="background-image: url('../avatars/avatar-10.jpg')"></figure>
					<div class="thread-detail">
						<div class="thread-title">meteor deploy Issues</div>
						<div class="thread-author">By: John Doe - 1 Replies</div>
					</div>
					<time class="thread-posted-on" datetime="">26/09/14</time>
				</li>
			</ul>
		</section>
		<nav class="load-more">
			<button class="btn btn-lg load-more-btn">Load More</button>
		</nav>
	</div>
</template>