<template name="forum-threads">
	<header class="page-header">
		<h1>Forum</h1>
		<h2>News & General Discussion</h2>
	</header>
	<div class="container">
		<section class="forum-thread-list">
			<ul>
				<li>
					<a href="{{pathFor 'forum-thread-view' _id=id}}"></a>
					<figure class="author-avatar" style="background-image: url('https://avatars3.githubusercontent.com/u/7794283?v=2&s=460')"></figure>
					<div class="thread-detail">
						<div class="thread-title">Speaker Program: Do a Cordova/PhoneGap Lightning Talk</div>
						<div class="thread-author">By: Robert Dickert - 48 Replies</div>
					</div>
					<time class="thread-posted-on" datetime="">1:32pm</time>
				</li>
				<li>
					<a href="{{pathFor 'forum-thread-view' _id=id}}"></a>
					<figure class="author-avatar" style="background-image: url('https://avatars3.githubusercontent.com/u/7794283?v=2&s=460')"></figure>
					<div class="thread-detail">
						<div class="thread-title">Speaker Program: Do a Cordova/PhoneGap Lightning Talk</div>
						<div class="thread-author">By: Robert Dickert - 48 Replies</div>
					</div>
					<time class="thread-posted-on" datetime="">11:02am</time>
				</li>
				<li>
					<a href="{{pathFor 'forum-thread-view' _id=id}}"></a>
					<figure class="author-avatar" style="background-image: url('https://avatars3.githubusercontent.com/u/7794283?v=2&s=460')"></figure>
					<div class="thread-detail">
						<div class="thread-title">Speaker Program: Do a Cordova/PhoneGap Lightning Talk</div>
						<div class="thread-author">By: Robert Dickert - 48 Replies</div>
					</div>
					<time class="thread-posted-on" datetime="">9:23am</time>
				</li>
				<li>
					<a href="{{pathFor 'forum-thread-view' _id=id}}"></a>
					<figure class="author-avatar" style="background-image: url('https://avatars3.githubusercontent.com/u/7794283?v=2&s=460')"></figure>
					<div class="thread-detail">
						<div class="thread-title">Speaker Program: Do a Cordova/PhoneGap Lightning Talk</div>
						<div class="thread-author">By: Robert Dickert - 48 Replies</div>
					</div>
					<time class="thread-posted-on" datetime="">9:03am</time>
				</li>
				<li>
					<a href="{{pathFor 'forum-thread-view' _id=id}}"></a>
					<figure class="author-avatar" style="background-image: url('https://avatars3.githubusercontent.com/u/7794283?v=2&s=460')"></figure>
					<div class="thread-detail">
						<div class="thread-title">Speaker Program: Do a Cordova/PhoneGap Lightning Talk</div>
						<div class="thread-author">By: Robert Dickert - 48 Replies</div>
					</div>
					<time class="thread-posted-on" datetime="">24/09/14</time>
				</li>
				<li>
					<a href="{{pathFor 'forum-thread-view' _id=id}}"></a>
					<figure class="author-avatar" style="background-image: url('https://avatars3.githubusercontent.com/u/7794283?v=2&s=460')"></figure>
					<div class="thread-detail">
						<div class="thread-title">Speaker Program: Do a Cordova/PhoneGap Lightning Talk</div>
						<div class="thread-author">By: Robert Dickert - 48 Replies</div>
					</div>
					<time class="thread-posted-on" datetime="">24/09/14</time>
				</li>
				<li>
					<a href="{{pathFor 'forum-thread-view' _id=id}}"></a>
					<figure class="author-avatar" style="background-image: url('https://avatars3.githubusercontent.com/u/7794283?v=2&s=460')"></figure>
					<div class="thread-detail">
						<div class="thread-title">Speaker Program: Do a Cordova/PhoneGap Lightning Talk</div>
						<div class="thread-author">By: Robert Dickert - 48 Replies</div>
					</div>
					<time class="thread-posted-on" datetime="">24/09/14</time>
				</li>
				<li>
					<a href="{{pathFor 'forum-thread-view' _id=id}}"></a>
					<figure class="author-avatar" style="background-image: url('https://avatars3.githubusercontent.com/u/7794283?v=2&s=460')"></figure>
					<div class="thread-detail">
						<div class="thread-title">Speaker Program: Do a Cordova/PhoneGap Lightning Talk</div>
						<div class="thread-author">By: Robert Dickert - 48 Replies</div>
					</div>
					<time class="thread-posted-on" datetime="">25/09/14</time>
				</li>
				<li>
					<a href="{{pathFor 'forum-thread-view' _id=id}}"></a>
					<figure class="author-avatar" style="background-image: url('https://avatars3.githubusercontent.com/u/7794283?v=2&s=460')"></figure>
					<div class="thread-detail">
						<div class="thread-title">Speaker Program: Do a Cordova/PhoneGap Lightning Talk</div>
						<div class="thread-author">By: Robert Dickert - 48 Replies</div>
					</div>
					<time class="thread-posted-on" datetime="">25/09/14</time>
				</li>
				<li>
					<a href="{{pathFor 'forum-thread-view' _id=id}}"></a>
					<figure class="author-avatar" style="background-image: url('https://avatars3.githubusercontent.com/u/7794283?v=2&s=460')"></figure>
					<div class="thread-detail">
						<div class="thread-title">Speaker Program: Do a Cordova/PhoneGap Lightning Talk</div>
						<div class="thread-author">By: Robert Dickert - 48 Replies</div>
					</div>
					<time class="thread-posted-on" datetime="">26/09/14</time>
				</li>
				<li>
					<a href="{{pathFor 'forum-thread-view' _id=id}}"></a>
					<figure class="author-avatar" style="background-image: url('https://avatars3.githubusercontent.com/u/7794283?v=2&s=460')"></figure>
					<div class="thread-detail">
						<div class="thread-title">Speaker Program: Do a Cordova/PhoneGap Lightning Talk</div>
						<div class="thread-author">By: Robert Dickert - 48 Replies</div>
					</div>
					<time class="thread-posted-on" datetime="">26/09/14</time>
				</li>
			</ul>
		</section>
		<nav class="load-more">
			<button class="btn btn-lg load-more-btn">Load More</button>
		</nav>
	</div>
</template>