<template name="forum-thread-view">
	<header class="page-header">
		<h1>Forum</h1>
		<p class="lead">Category: Development</p>
	</header>
	<section class="forum-thread-view">
		<div class="container">
			<div class="thread-post">
				<figure class="author-avatar" style="background-image: url('../../avatars/avatar-3.jpg')"></figure>
				<h3 class="thread-title">Speaker Program: Do a Cordova/PhoneGap Lightning Talk</h3>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc efficitur, neque sit amet porttitor sollicitudin, felis magna ultrices lectus, eu tincidunt justo nulla sit amet tortor. Phasellus semper vehicula libero, ac aliquam lorem cursus ut. Donec lacinia vel urna at ultrices. Cras varius, mi vel ultrices rhoncus, purus tortor pharetra nisi, eget faucibus augue enim eu orci. 

				<pre>
Router.route('/', function () {
  	this.render('MyTemplate');
});
Router.route('/items', function () {
  	this.render('Items');
});
				</pre>

				Integer tincidunt, sapien sit amet aliquam sodales, odio odio molestie orci, at suscipit eros quam vestibulum massa. Vivamus ut neque euismod, maximus odio a, congue urna.
				<footer class="thread-post-footer">
					<div class="thread-posted-by">Posted By Luke Clifton</div>
					<div class="thread-posted-on">Posted on 2:15pm - 23/09/14</div>
				</footer>
			</div>
			<ul class="thread-replies">
				<li class="thread-reply thread-post">
					<figure class="author-avatar" style="background-image: url('../../avatars/avatar-7.jpg')"></figure>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc efficitur, neque sit amet porttitor sollicitudin, felis magna ultrices lectus, eu tincidunt justo nulla sit amet tortor. Phasellus semper vehicula libero, ac aliquam lorem cursus ut.
					<footer class="thread-post-footer">
					<div class="thread-posted-by">Posted By Luke Clifton</div>
					<div class="thread-posted-on">Replied at 2:15pm - 23/09/14</div>
				</footer>
				</li>
				<li class="thread-reply thread-post">
					<figure class="author-avatar" style="background-image: url('../../avatars/avatar-9.jpg')"></figure>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc efficitur, neque sit amet porttitor sollicitudin, felis magna ultrices lectus, eu tincidunt justo nulla sit amet tortor. Phasellus semper vehicula libero, ac aliquam lorem cursus ut.
					<footer class="thread-post-footer">
					<div class="thread-posted-by">Posted By Luke Clifton</div>
					<div class="thread-posted-on">Replied at 2:15pm - 23/09/14</div>
				</footer>
				</li>
			</ul>
			<div class="thread-reply-form">
				<form class="form">
					<div class="form-group">
						<label for="reply">Reply to Thread</label>
						<textarea name="reply" class="form-control reply"></textarea>
					</div>
					<button class="btn btn-success">Reply</button>
				</form>
			</div>
		</div>
	</section>
</template>