<template name="developers">
	<div class="container-fluid">
		<header class="page-header">
			<h1>Meteor Developers</h1>
			<p class="lead">Find the best Meteor developers in the world...meet the community.</p>
		</header>
		<section class="developer-grid clearfix">
			<div class="developer-box">
				<figure class="profile-img" style="background-image: url('https://avatars3.githubusercontent.com/u/7794283?v=2&s=460')"></figure>
				<div class="profile">
					<div class="name">Luke Clifton</div>
					<div class="location">London, UK</div>
					<div class="short-bio">Over 20 years of programming experience on a vast range of programming languages, platforms, and application areas.</div>
					<ul class="profile-icons">
						<li class="message"><a href="#" data-toggle="modal" data-target="#messageDeveloperModal"></a></li>
						<li class="github"><a href="https://github.com/lukeclifton" target="blank"></a></li>
						<li class="twitter"><a href="https://twitter.com/Cliffers" target="blank"></a></li>
					</ul>
				</div>
			</div>
			<div class="developer-box">
				<figure class="profile-img" style="background-image: url('https://avatars3.githubusercontent.com/u/7794283?v=2&s=460')"></figure>
				<div class="profile">
					<div class="name">Luke Clifton</div>
					<div class="location">London, UK</div>
					<div class="short-bio">Over 20 years of programming experience on a vast range of programming languages, platforms, and application areas.</div>
					<ul class="profile-icons">
						<li class="github"><a href="https://github.com/lukeclifton" target="blank"></a></li>
						<li class="twitter"><a href="https://twitter.com/Cliffers" target="blank"></a></li>
					</ul>
				</div>
			</div>
			<div class="developer-box">
				<figure class="profile-img" style="background-image: url('https://avatars3.githubusercontent.com/u/7794283?v=2&s=460')"></figure>
				<div class="profile">
					<div class="name">Luke Clifton</div>
					<div class="location">London, UK</div>
					<div class="short-bio">Over 20 years of programming experience on a vast range of programming languages, platforms, and application areas.</div>
				</div>
			</div>
			<div class="developer-box">
				<figure class="profile-img" style="background-image: url('https://avatars3.githubusercontent.com/u/7794283?v=2&s=460')"></figure>
				<div class="profile">
					<div class="name">Luke Clifton</div>
					<div class="location">London, UK</div>
					<div class="short-bio">Over 20 years of programming experience on a vast range of programming languages, platforms, and application areas.</div>
					<ul class="profile-icons">
						<li class="message"><a href="#" data-toggle="modal" data-target="#messageDeveloperModal"></a></li>
						<li class="github"><a href="https://github.com/lukeclifton" target="blank"></a></li>
						<li class="twitter"><a href="https://twitter.com/Cliffers" target="blank"></a></li>
					</ul>
				</div>
			</div>
			<div class="developer-box">
				<figure class="profile-img" style="background-image: url('https://avatars3.githubusercontent.com/u/7794283?v=2&s=460')"></figure>
				<div class="profile">
					<div class="name">Luke Clifton</div>
					<div class="location">London, UK</div>
					<div class="short-bio">Over 20 years of programming experience on a vast range of programming languages, platforms, and application areas.</div>
				</div>
			</div>
			<div class="developer-box">
				<figure class="profile-img" style="background-image: url('https://avatars3.githubusercontent.com/u/7794283?v=2&s=460')"></figure>
				<div class="profile">
					<div class="name">Luke Clifton</div>
					<div class="location">London, UK</div>
					<div class="short-bio">Over 20 years of programming experience on a vast range of programming languages, platforms, and application areas.</div>
				</div>
			</div>
			<div class="developer-box">
				<figure class="profile-img" style="background-image: url('https://avatars3.githubusercontent.com/u/7794283?v=2&s=460')"></figure>
				<div class="profile">
					<div class="name">Luke Clifton</div>
					<div class="location">London, UK</div>
					<div class="short-bio">Over 20 years of programming experience on a vast range of programming languages, platforms, and application areas.</div>
					<ul class="profile-icons">
						<li class="message"><a href="#" data-toggle="modal" data-target="#messageDeveloperModal"></a></li>
						<li class="github"><a href="https://github.com/lukeclifton" target="blank"></a></li>
					</ul>
				</div>
			</div>
			<div class="developer-box">
				<figure class="profile-img" style="background-image: url('https://avatars3.githubusercontent.com/u/7794283?v=2&s=460')"></figure>
				<div class="profile">
					<div class="name">Luke Clifton</div>
					<div class="location">London, UK</div>
					<div class="short-bio">Over 20 years of programming experience on a vast range of programming languages, platforms, and application areas.</div>
				</div>
			</div>
			<div class="developer-box">
				<figure class="profile-img" style="background-image: url('https://avatars3.githubusercontent.com/u/7794283?v=2&s=460')"></figure>
				<div class="profile">
					<div class="name">Luke Clifton</div>
					<div class="location">London, UK</div>
					<div class="short-bio">Over 20 years of programming experience on a vast range of programming languages, platforms, and application areas.</div>
				</div>
			</div>
			<div class="developer-box">
				<figure class="profile-img" style="background-image: url('https://avatars3.githubusercontent.com/u/7794283?v=2&s=460')"></figure>
				<div class="profile">
					<div class="name">Luke Clifton</div>
					<div class="location">London, UK</div>
					<div class="short-bio">Over 20 years of programming experience on a vast range of programming languages, platforms, and application areas.</div>
				</div>
			</div>
			<div class="developer-box">
				<figure class="profile-img" style="background-image: url('https://avatars3.githubusercontent.com/u/7794283?v=2&s=460')"></figure>
				<div class="profile">
					<div class="name">Luke Clifton</div>
					<div class="location">London, UK</div>
					<div class="short-bio">Over 20 years of programming experience on a vast range of programming languages, platforms, and application areas.</div>
					<ul class="profile-icons">
						<li class="message"><a href="#" data-toggle="modal" data-target="#messageDeveloperModal"></a></li>
						<li class="github"><a href="https://github.com/lukeclifton" target="blank"></a></li>
					</ul>
				</div>
			</div>
			<div class="developer-box">
				<figure class="profile-img" style="background-image: url('https://avatars3.githubusercontent.com/u/7794283?v=2&s=460')"></figure>
				<div class="profile">
					<div class="name">Luke Clifton</div>
					<div class="location">London, UK</div>
					<div class="short-bio">Over 20 years of programming experience on a vast range of programming languages, platforms, and application areas.</div>
				</div>
			</div>
		</section>
		<nav class="load-more">
			<button class="btn btn-lg load-more-btn">Load More</button>
		</nav>
	</div>

	<!-- Send developer message modal -->
	<div class="modal fade" id="messageDeveloperModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
	  			<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span 	class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel">Send a Message to Luke Clifton</h4>
				</div>
				<div class="modal-body">
	      		</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-success">Send Message</button>
				</div>
			</div>
		</div>
	</div>
</template>