<template name="home">
	<section class="home-hero">
		<h1>Greetings Meteorites. <br class="mobile-only"> Welcome to the Meteor.community <br> A place for fellow Meteorites to connect, discuss and share.</h1>
	</section>
	<section class="home-nav-boxes clearfix">
		<nav>
			<div class="home-nav-box forum"><a href="{{pathFor 'forum'}}">Forum</a></div>
			<div class="home-nav-box developers"><a href="{{pathFor 'developers'}}">Developers</a></div>
			<div class="home-nav-box jobs"><a href="{{pathFor 'jobs'}}">Jobs</a></div>
			<div class="home-nav-box events"><a href="{{pathFor 'events'}}">Events</a></div>
			<div class="home-nav-box resources"><a href="{{pathFor 'resources'}}">Resources</a></div>
			<div class="home-nav-box articles"><a href="{{pathFor 'articles'}}">Articles</a></div>
		</nav>
	</section>
	<section class="home-dev-profile-callout">
		<div class="container">
			<a href="{{pathFor 'developers'}}" class="btn create-dev-profile-btn">Create your Developer Profile Now</a>
		</div>
	</section>
	<section class="home-community-swag">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="swag-circle">Communi-tee <br> Swag Alert</div>
					<img src="wc-tshirt.png" class="img-responsive">
				</div>
				<div class="col-md-4">
					<h2>SUPPORT THIS PROJECT ON KICKSTARTER & GET YOUR HANDS ON A AWESOME METEORITE TEE</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus porttitor vulputate. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
					<a href="https://www.kickstarter.com/projects/917824419/932286164?token=f46e137a" target="_blank" class="btn btn-success btn-lg">Check out the Kickstarter Project</a>
				</div>
			</div>
		</div>
	</section>
	<section class="home-partners">
		<header class="section-header">
			<h2>Supporting Partners</h2>
			<p class="lead">This site is made with love and supported by the help of the following organisations</p>
		</header>
		<div class="container">
			<div class="row">
				<div class="col-md-3"><a href="mailto:partners@meteor.community" class="partner-box">Become a Partner</a></div>
				<div class="col-md-3"><a href="mailto:partners@meteor.community" class="partner-box">Become a Partner</a></div>
				<div class="col-md-3"><a href="mailto:partners@meteor.community" class="partner-box">Become a Partner</a></div>
				<div class="col-md-3"><a href="mailto:partners@meteor.community" class="partner-box">Become a Partner</a></div>
			</div>
		</div>
	</section>

	<!-- Temporary bottom mesg bar -->
	<div class="bottom-mesg-bar">
  		This project has just started &amp; is not yet fully functional. Please support us on <a href="https://www.kickstarter.com/projects/917824419/932286164?token=f46e137a" target="_blank">KICKSTARTER</a> to help us make this site a reality.
	</div>
</template>