<template name="comingSoonCallout">
	<div class="coming-soon-callout">
		<h4>Coming Soon! <i class="fa fa-smile-o"></i></h4>
		<p>This project is in its early stages and this feature is coming soon.</p>
		<p>Please support us by checking out our <a href="https://www.kickstarter.com/projects/917824419/932286164?token=f46e137a" target="_blank">KICKSTARTER</a> campaign or contribute on <a href="https://github.com/lukeclifton/meteor-community-beta" target="_blank">GitHub</a>.</p>
		<p>We'd love to hear your feedback / suggestions on this fetaure. Please <a href="https://github.com/lukeclifton/meteor-community-beta/issues" target="_blank">create an issue</a> on the repo.</p>
	</div>
</template>